{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Авторы{% endblock title %}

{% block content %}
    <div class="col-md-8 offset-md-2 p-5">
        {% for author in object_list %}
            <div class="card shadow mb-3 bg-body rounded">
                <div class="row g-0">
                    <div class="col-md-3">
                        {% thumbnail author.image "180x250" as im %}
                        <img src="{{ im.url }}" class="img-fluid rounded-start">
                        {% endthumbnail %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{ author }}</h4>
                            <p class="card-text">{{ author.description|truncatewords:28|linebreaks}}</p>
                            <p class="card-text"><small class="text-muted"><a href="{{ author.link }}">Подробнее на Wikipedia</a></small></p>
                            <p class="card-text"><small class="text-muted"><a href="{% url 'quotes:author_detail' author.pk %}">Цитаты автора</a> | Всего цитат: {{ author.quotes.count }} </small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}