{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ author }}{% endblock title %}

{% block content %}
    <section id="authors" class="authors section-bg">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-8">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                {% thumbnail author.image "600x400" as im %}
                                <img src="{{ im.url }}" class="card-img-top">
                                {% endthumbnail %}
                            </div>
                            <div class="col">
                                <h4 class="card-title">{{ author.full_name }}</h4>
                            </div>
                        </div>

                            <div class="card-body">
                                <p class="card-text">{{ author.description|truncatewords:28|linebreaks }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">цитат: {{ author.quotes.count }}</small>
                                <small class="text-muted">источников: {{ author.quote_sources.count }}</small>
                            </div>
                        </div>

                </div>
                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4>Правый блок</h4>
                        </div>
                        <p class="mb-0">
                            Текст правого блока
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>




<div class="col-md-6 offset-md-3 p-5">
    <div class="card shadow mb-3 bg-body rounded">
            <div class="row g-0">
                <div class="col-md-3">
                    {% thumbnail author.image "180x250" as im %}
                    <img src="{{ im.url }}" class="img-fluid rounded-start">
                    {% endthumbnail %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ author }}</h4>
                        <p class="card-text">{{ author.description|truncatewords:28|linebreaks}}</p>
                        <p class="card-text"><small class="text-muted"><a href="{{ author.link }}">Подробнее на Wikipedia</a></small></p>
                        <p class="card-text"><small class="text-muted">Всего цитат: {{ author.quotes.count }}</small></p>
                    </div>
                </div>
            </div>
        </div>

    {% for quote in quotes %}
        <div class="card shadow-sm p-3 mb-3 bg-white rounded">
            <div class="card-body">
                    <div class="callout p-2">
                        <h5>{{ quote.text|linebreaks }}</h5>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ quote.year }} | {{ quote.source }}</h6>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock content %}