{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ author }}{% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <!-- Карточка с автором -->
                    <div class="author_detail">
                        <div class="card">
                            {% thumbnail author.image "600x400" as im %}
                                <img src="{{ im.url }}" class="card-img-top">
                            {% endthumbnail %}
                            <div class="card-body">
                                <h3 class="card-title">{{ author.full_name }}</h3>
                                <p class="card-text">{{ author.description|truncatewords:28|linebreaks }}</p>
                                <p class="card-text"><small class="text-muted"><a href="{{ author.link }}">Подробнее на Wikipedia</a></small></p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">цитат: {{ author.author_quotes.count }}</small>
                                <small class="text-muted">источников: {{ author.quote_sources.count }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- Карточки с цитатами -->
                    <div class="quotes">
                    {% for quote in quotes %}

                        <div class="card">
                            <div class="card-body">
                                <h5>{{ quote.text|linebreaks }}</h5>
                                <p>{{ quote.year }} | {{ quote.source }}</p>
                                <hr>
                                <!-- Likes -->
                                <!-- if user is authenticated -->
                                {% if user.is_authenticated %}
                                {% csrf_token %}
                                <!-- if user liked quote -->
                                {% with users_liked=quote.likes.all %}
                                <a href="." id="like-button" class="quote-like {% if user in users_liked %}myClass{% endif %}" value="{{ quote.id }}">
                                    <i class='bx bxs-quote-alt-left' id="icon"></i>
                                    <p >Нравится <span class="like-count{{ quote.id }}">{{ quote.like_count }}</span></p>
                                </a>
                                {% endwith %}
                                {% else %}
                                <a href="." id="like-button-no-click" class="quote-like">
                                    <i class='bx bxs-quote-alt-left' id="icon"></i>
                                    <a>Нравится <span class="like-count">{{ quote.like_count }}</span></a>
                                </a>
                                {%  endif %}




                            </div>
                        </div>
                    {% endfor %}
                    </div>

                </div>
                 <!-- Правый блок -->
                <div class="col-md-3">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4>Мои закладки</h4>
                                <br>
                                <p>Всего цитата: __</p>
                                <p>Топ автор: __</p>
                                <p>Топ источник: __</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();

        const quote_id = $(this).attr('value');

        if (this.classList.contains('myClass')) {
            $(this).removeClass('myClass');
        } else {
            $(this).addClass('myClass');
        }
    $.ajax({
        type: 'POST',
        url: '{% url "quotes:add_like" %}',
        data: {
            quote_id: quote_id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (response) {
            $(`.like-count${quote_id}`).text(response['result'])
        }

        });
      })

    {#$(document).on('click', '#share-button', function (e) {#}
    {#    e.preventDefault()#}
    {#    const quote_id = $(this).attr('value')#}
    {##}
    {##}
    {#$.ajax({#}
    {#    type: 'POST',#}
    {#    url: '{% url "quotes:add_share" %}',#}
    {#    data: {#}
    {#        quote_id: quote_id,#}
    {#        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),#}
    {#        action: 'post'#}
    {#    },#}
    {#    success: function (response) {#}
    {##}
    {#        $(`.share-count${quote_id}`).text(response['result'])#}
    {#    }#}
    {##}
    {#    });#}
    {# }) #}

    </script>


{% endblock content %}


<div class="row justify-content-between">
{#                                    <!-- LIKES -->#}
{#                                    <div class="col-md-4">#}
{#                                    {% csrf_token %}#}
{#                                    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="like-button" value="{{ quote.id }}">#}
{#                                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor">#}
{#                                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>#}
{#                                            <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>#}
{#                                        </svg>#}
{#                                    </button>#}
{#                                    <span class="like-count{{ quote.id }}">{{ quote.likes.count }}</span>#}
{#                                    </div>#}
{#                                    <!-- LIKES -->#}
{#                                    <!-- SHARE -->#}
{#                                    <div class="col-sm-2">#}
{#                                    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="share-button" value="{{ quote.id }}">#}
{#                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-share" fill="currentColor">#}
{#                                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>#}
{#                                    </svg>#}
{#                                    </button>#}
{#                                    <span class="share-count{{ quote.id }}">{{ quote.likes.count }}</span>#}
{#                                    <!-- SHARE -->#}
{#                                    </div>#}
{#                                    <div class="col-md-5">#}
{#                                        <p class="card-subtitle mb-2 text-muted">{{ quote.year }} | {{ quote.source }}</p>#}
{#                                    </div>#}
{#                                </div>#}