{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ author }}{% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <!-- Карточка с автором -->
                    <div class="author_detail">
                        <div class="card">
                            {% thumbnail author.image "600x400" as im %}
                                <img src="{{ im.url }}" class="card-img-top">
                            {% endthumbnail %}
                            <div class="card-body">
                                <h3 class="card-title">{{ author.full_name }}</h3>
                                <p class="card-text">{{ author.description|truncatewords:28|linebreaks }}</p>
                                <p class="card-text"><small class="text-muted"><a href="{{ author.link }}">Подробнее на Wikipedia</a></small></p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">цитат: {{ author.author_quotes.count }}</small>
                                <small class="text-muted">источников: {{ author.quote_sources.count }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- Карточки с цитатами -->
                    <div class="quotes">
                    {% for quote in quotes %}

                        <div class="card">
                            <div class="card-body">
                                <h5>{{ quote.text|linebreaks }}</h5>
                                <p>{{ quote.year }} | {{ quote.source }}</p>
                                <hr>
                                <div class="row justify-content-between like-share">
                                <!-- Like Button -->
                                <!-- if user is authenticated -->
                                <div class="col-5">
                                {% if user.is_authenticated %}
                                {% csrf_token %}
                                <!-- if user liked quote or not -->
                                {% with users_liked=quote.likes.all %}
                                <a href="." id="like-button" class="quote-like {% if user in users_liked %}myClass{% endif %}" value="{{ quote.id }}">
                                    <i class='bx bxs-quote-alt-left' id="icon"></i>
                                    <p >Нравится <span class="like-count{{ quote.id }}">{{ quote.like_count }}</span></p>
                                </a>
                                {% endwith %}
                                {% else %}
                                <!-- if user is not authenticated -->
                                <!-- Добавить Поп-ап на регистрацию -->
                                <a href="." id="like-button-no-click" class="quote-like">
                                    <i class='bx bxs-quote-alt-left' id="icon"></i>
                                    <p>Нравится <span class="like-count">{{ quote.like_count }}</span></p>
                                </a>
                                {%  endif %}
                                </div>
                                <!-- Share Button -->
                                <div class="col-5">

                                    <div class="nav-item dropdown ms-sm-auto quote-share">
                                    <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Поделиться
                                    </a>
                                    <!-- Card share action dropdown menu -->
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction" style="">
                                    <li><a class="dropdown-item" href="#"> <i class='bx bxl-vk fa-fw pe-2' ></i>Опубликова в ВК</a></li>
                                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          <i class="bi bi-link fa-fw pe-2"></i>Копирровать ссылку на цитату
                                        </button></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                    {% endfor %}
                    </div>
                </div>
                 <!-- Правый блок -->
                 <div class="col-md-3">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                        <div class="right_block">
                            <h4>{{ author }}</h4>
                            <p class="right_block">Цитат: {{ quotes.count }}</p>
                            <p class="right_block">Источников: {{ author.quote_sources.count }}</p>
                            <p class="right_block">Лайков: {{ sum_of_likes }}</p>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


<!-- Modal -->
{#<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#<div class="modal-dialog modal-dialog-centered">#}
{#<div class="modal-content">#}
{#<div class="modal-header">#}
{#<h5 class="modal-title" id="exampleModalLabel">Ссылка на цитату скопирована</h5>#}
{#<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</div>#}




    </section>
    <script>
    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();

        const quote_id = $(this).attr('value');

        if (this.classList.contains('myClass')) {
            $(this).removeClass('myClass');
        } else {
            $(this).addClass('myClass');
        }
    $.ajax({
        type: 'POST',
        url: '{% url "quotes:add_like" %}',
        data: {
            quote_id: quote_id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (response) {
            $(`.like-count${quote_id}`).text(response['result'])
        }

        });
      })

    {#$(document).on('click', '#share-button', function (e) {#}
    {#    e.preventDefault()#}
    {#    const quote_id = $(this).attr('value')#}
    {##}
    {##}
    {#$.ajax({#}
    {#    type: 'POST',#}
    {#    url: '{% url "quotes:add_share" %}',#}
    {#    data: {#}
    {#        quote_id: quote_id,#}
    {#        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),#}
    {#        action: 'post'#}
    {#    },#}
    {#    success: function (response) {#}
    {##}
    {#        $(`.share-count${quote_id}`).text(response['result'])#}
    {#    }#}
    {##}
    {#    });#}
    {# }) #}

    </script>



{% endblock content %}