{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Авторы{% endblock title %}

{% block content %}
<section>
        <div class="container authors">
            <div class="row">
                {% for author in object_list %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <a href="{% url 'quotes:author_detail' author.pk %}">
                                {% thumbnail author.image "600x400" as im %}
                                    <img src="{{ im.url }}" class="card-img-top">
                                {% endthumbnail %}
                                <div class="card-icon">
                                    <i class='bx bxs-quote-alt-left'></i>
                                </div>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">{{ author.full_name }}</h4>
                                <p class="card-text">{{ author.description|truncatewords:28|linebreaks }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">цитат: {{ author.author_quotes.count }}</small>
                                <small class="text-muted">источников: {{ author.quote_sources.count }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}