{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Цитатник Dоuble Quotes{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5 p-5">
            <div class="card">
                <div class="card-body">
                    <h1>Double Quotes</h1>
                    <ul>
                        <li><a>Всего цитат: {% total_quotes %}</a></li>
                        <li><a>Всего авторов: {% total_authors %}</a></li>
                        <li><a>Всего источников: {% total_quote_sources %}</a></li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <a href="{% url 'users:signup' %}" class="btn btn-outline-dark ">Создать запись</a>
                        <a href="{% url 'quotes:quotes_list' %}" class="btn btn-outline-dark ">Открыть ленту</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'users:login' %}" class="btn btn-outline-dark">Войти</a>
                    <a href="{% url 'users:signup' %}" class="btn btn-outline-dark">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
