{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Цитатник Dоuble Quotes{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-body">
                    <h1>Цитатник Double Quotes</h1>
                    <br>
                    <h2>Сохрани любимые цитаты</h2>
                    <br>
                    <ul>
                        <li><a>Всего цитат: {% total_quotes %}</a></li>
                        <li><a>Всего авторов: {% total_authors %}</a></li>
                        <li><a>Всего источников: {% total_quote_sources %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}