{% extends 'base.html' %}

{% block title %}
    Создать цитату
{% endblock title %}

{% block content %}
<!--<div class="container py-3">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-8 p-5">-->
<!--            <div class="card">-->
<!--                <div class="card-header">Создать цитату</div>-->
<!--                <div class="card-body">-->
<!--                    <form method="post" action="{% url 'quotes:quote_create' %}">-->
<!--                        {% csrf_token %}-->
<!--                        {% for field in form %}-->
<!--                            <div class="form-group row my-3">-->
<!--                                <label for="{{ field.id_for_lobel }}">-->
<!--                                    {{ field.label }}-->
<!--                                    {% if field.field.required %}-->
<!--                                        <span class="reqired text-danger">*</span>-->
<!--                                    {% endif %}-->
<!--                                </label>-->
<!--                                {{ field }}-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                        <button type="submit" class="btn btn-primary">-->
<!--                            Создать-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--        {% for value in form.source %}-->
<!--{{ value }}-->
<!--        {% endfor %}-->


    <label class="form-label">DataExample</label>
    <input class="form-control" list="form.source" placeholder="Type to search..." autocomplete="off">
    <datalist id="form.source">
        {% for value in form.source %}
        <option value="{{ value }}"></option>
        {% endfor %}
    </datalist>

<!--<form method="post" action="{% url 'quotes:quote_create' %}">&ndash;&gt;-->
<!--                        {% csrf_token %}-->
<!--                        {% for field in form %}-->
<!--                            <div class="form-group row my-3">-->
<!--                                <label for="{{ field.id_for_lobel }}">-->
<!--                                    {{ field.label }}-->
<!--                                    {% if field.field.required %}-->
<!--                                        <span class="reqired text-danger">*</span>-->
<!--                                    {% endif %}-->
<!--                                </label>-->
<!--                                {{ field }}-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                        <button type="submit" class="btn btn-primary">-->
<!--                            Создать-->
<!--                        </button>-->
<!--                    </form>-->



{% endblock content %}
