{#<header class="p-3 text-bg-dark">#}
{#    <div class="container">#}
{#        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">#}
{#            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">#}
{#                <img src="/static/logo.png" class="bi me-2" width="30" height="30" aria-label="Double Quotes">#}
{#            </a>#}
{#            <a class="navbar-brand text-light" href="{% url 'home' %}">Double Quotes</a>#}
{#            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link text-light active" aria-current="page" href="{% url 'quotes:quotes_list' %}">Лента</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link text-light active" aria-current="page" href="{% url 'quotes:authors_list' %}">Авторы</a>#}
{#                </li>#}
{#            </ul>#}
{##}
{#<div class="text-end">#}
{#<button type="button" class="btn btn-outline-light me-2">Войти</button>#}
{#<button type="button" class="btn btn-warning">Регистрация</button>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</header>#}


<header>
    <section>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <a class="navbar-brand text-light" href="{% url 'home' %}">Double Quotes</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link text-light active" aria-current="page" href="{% url 'quotes:quotes_list' %}">Лента</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light active" aria-current="page" href="{% url 'quotes:authors_list' %}">Авторы</a>
                        </li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                <div class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light"
                           href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           data-bs-toggle="dropdown"
                           data-bs-display="static"
                           aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <!-- ВСТАВИТЬ ССЫЛКУ -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'quotes:quotes_list' %}">Лента цитат</a></li>
                            <li><a class="dropdown-item" href="{% url 'quotes:authors_list' %}">Авторы</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Поменять пароль</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                </div>
                {% else %}
                <div class="nav justify-content-end">
                    <a class="nav-link text-light active" aria-current="page" href="{% url 'users:login' %}">Войти</a>
                    <a class="nav-link text-light active" aria-current="page" href="{% url 'users:signup' %}">Регистрация</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </section>
</header>
